<html>
<head>
	<title>log in</title>
</head>
	<body>
		<form action="/login"  method="POST" >
		<input  type="text" name="username"  placeholder="type your username">
		<input type="password" name="password" placeholder="type your password">
		<input type="submit" value="Log in">
		</form>
	</body>
</html>